.container {
    text-align: center;
    padding: 2rem;
    color: #ffffff;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;

  }
  
  .card {
    gap: 20px;
    background: #1a1a1a;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 250px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.3);
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    opacity: 0.8;
  }
  